* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
}

body {
    background: rgba(226, 250, 255, 0.59);
    width: 100%;
    height: 100%;
}

html {

    font-family: "Lucida Sans", sans-serif;
}


.hello {
    position: absolute;
    top: 50%;
    left: 47%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
    transition: top 0.5s;
}

.start-button {
    border-radius: 20px;
    background: #126df4;
    width: 150px;
    height: 60px;
    text-align: center;
    color: #f8f8f8;
    display: block;
    padding: 15px;
    font-size: 1.5em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    text-decoration: none;
    transition: background-color 0.8s;

}

.start-button:hover{
    color: #d1d1d1;
    background: #0648f4
}

a{
    text-decoration: none;
    font-size: 1.2em;
    transition: color 1s;
}

a:hover{
    color: #717171;
}

a:visited {
    text-decoration: none;
    color: #575757;
}

#login_form, #registration {
    margin-top: 11%;
}

p{
    padding-top: 20px;
    padding-left: 20px;
}